.title{
    text-align: center
}
.subtitle{
    text-align: center
}
.subsub{
    text-align: center
}
.image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    
}
.onimage{
    position: relative;
    text-align: center;
    color:white
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}
.pictures{
    text-align: center
}